#address .divHead {
  width: 100%;
  height: 88rem;
  opacity: 1;
  background: #333333;
  position: relative;
}

#address .divHead .divTitle {
  font-size: 18rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 25rem;
  letter-spacing: 0;
  position: absolute;
  bottom: 13rem;
  width: 100%;
}

#address .divHead .divTitle i {
  position: absolute;
  left: 16rem;
  top: 50%;
  transform: translate(0, -50%);
}

#address .divContent {
  height: calc(100vh - 157rem);
  overflow: auto;
}

#address .divContent .divItem {
  height: 128rem;
  opacity: 1;
  background: #ffffff;
  border-radius: 6rem;
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 9rem;
  padding-left: 12rem;
  position: relative;
}

#address .divContent .divItem > img {
  width: 16rem;
  height: 16rem;
  position: absolute;
  top: 40rem;
  right: 24rem;
}

#address .divContent .divItem .divDefault img {
  width: 16rem;
  height: 16rem;
  opacity: 1;
}

#address .divContent .divItem .divAddress {
  font-size: 14rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  line-height: 20rem;
  letter-spacing: 0;
  padding-top: 21rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280rem;
}

#address .divContent .divItem .divAddress span {
  width: 34rem;
  height: 20rem;
  opacity: 1;
  font-size: 12rem;
  display: inline-block;
  text-align: center;
  margin-right: 4rem;
  margin-bottom: 10rem;
}

#address .divContent .divItem .divUserPhone span {
  height: 20rem;
  opacity: 1;
  font-size: 14rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #999999;
  line-height: 20rem;
  letter-spacing: 0;
  margin-right: 10rem;
}

#address .divContent .divItem .divUserPhone span:first-child {
  margin-right: 2rem;
}

#address .divContent .divItem .divAddress .spanCompany {
  background-color: #e1f1fe;
}

#address .divContent .divItem .divAddress .spanHome {
  background: #fef8e7;
}

#address .divContent .divItem .divAddress .spanSchool {
  background: #e7fef8;
}

#address .divContent .divItem .divSplit {
  height: 1px;
  opacity: 1;
  background: #efefef;
  border: 0;
  margin-top: 16rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

#address .divContent .divItem .divDefault {
  height: 18rem;
  opacity: 1;
  font-size: 13rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  line-height: 18rem;
  letter-spacing: 0;
}

#address .divContent .divItem .divDefault img {
  height: 18rem;
  width: 18rem;
  margin-right: 5rem;
  vertical-align: bottom;
}

#address .divBottom {
  height: 36rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 18rem;
  opacity: 1;
  font-size: 15rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 36rem;
  letter-spacing: 0;
  position: absolute;
  bottom: 23rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 334rem;
}


#address .divCollection {
  height: calc(100vh - 157rem);
  overflow: auto;
}

#address .divCollection .divItem {
  margin: 10rem 15rem 20rem 14rem;
  display: flex;
}

#address .divCollection .divItem .el-image {
  width: 86rem;
  height: 86rem;
  margin-right: 14rem;
}

#address .divCollection .divItem .el-image img {
  width: 86rem;
  height: 86rem;
  border-radius: 5rem;
}

#address .divCollection .divItem >div {
  position: relative;
}

#address .divCollection .divItem .divName {
  height: 22rem;
  opacity: 1;
  font-size: 16rem;
  font-family: PingFangSC, PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  color: #333333;
  line-height: 22rem;
  letter-spacing: 0;
  margin-bottom: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 175rem;
}

#address .divCollection .divItem .divDesc {
  height: 16rem;
  opacity: 1;
  font-size: 12rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 16rem;
  letter-spacing: 0rem;
  margin-bottom: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 144rem;
}

#address .divCollection .divItem .divPrice {
  font-size: 15rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 20rem;
  letter-spacing: 0rem;
}

#address .divCollection .divItem .divPrice span:first-child{
  font-size: 12rem;
}

#address .divCollection .divItem .divPrice span:last-child{
  font-size: 12rem;
}


#address .divCollection .divItem .divNum {
  display: block;
  /*position: absolute;*/
  right: 12rem;
  bottom: 0px;
}

#address .divCollection .divItem .divNum .divSub {
  width: 64rem;
  height: 24rem;
  opacity: 1;
  background: rgba(255, 194, 0, 0.5);
  border-radius: 12rem;
  font-size: 12rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 24rem;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-right: 0;
}

#address .divCollection .divItem .divNum .divTypes {
  width: 64rem;
  height: 24rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 12rem;
  font-size: 12rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 24rem;
  letter-spacing: 0;
  margin-bottom: 0px;
  margin-right: 0;
  bottom: 0px;
  position: absolute;
}