<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../../styles/common.css" />
  <link rel="stylesheet" href="../../../styles/page.css" />
  <style>
    #food-add-app .uploadImg .el-form-item__label::before{
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }

  </style>
</head>
<body>
  <div class="dashboard-container" id="category-app">
    <div class="container">
      <div
        class="tableBar"
        style="display: inline-block"
      >
        <el-button
                type="primary"
                @click="addHandle()"
        >
          + 添加商户
        </el-button>

      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
      >
        <el-table-column
          prop="name"
          label="商户名称"
          width= "200"
          align="center"
        /></el-table-column>

        <el-table-column prop="image" label="图片" align="center" width= "400">
          <template slot-scope="{ row }">
            <el-image style="width: 80px; height: 80px; border:none; cursor: pointer;"
                      :src="getImage(row.image)"
                      :preview-src-list="[ `/common/download?name=${row.image}` ]"
                      >
              <div slot="error" class="image-slot">
                <img src="./../../../images/PandaIcon.png"  style="width: 80px; height: 80px; border:none;" >
              </div>
            </el-image>
          </template>
        </el-table-column>

        <el-table-column
                prop="sales"
                label="月销量"
                width= "200"
                align="center"
        /></el-table-column>

        <el-table-column label="商户状态"
                         width= "200"
                         align="center">
          <template slot-scope="scope">
            {{ String(scope.row.status) === '0' ? '已禁用' : '正常' }}
          </template>
        </el-table-column>

        <el-table-column
          label="操作"
          width="200"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
                    type="text"
                    size="small"
                    class="blueBug"
                    @click="getBusinessDetail(scope.row)"
            >
              详情
            </el-button>
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="editHandle(scope.row)"
            >
              修改
            </el-button>
            <el-button
                    type="text"
                    size="small"
                    class="delBut non"
                    @click="statusHandle(scope.row)"
            >
              {{ scope.row.status == '1' ? '禁用' : '启用' }}
            </el-button>
            <el-button
              type="text"
              size="small"
              class="delBut non"
              @click="deleteHandle(scope.row.id)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>



    <el-dialog
      :title="classData.title"
      :visible.sync="classData.dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form
        class="demo-form-inline"
        label-width="100px"
      >
        <el-form-item label="商户名称：">
          <el-input
            v-model="classData.name"
            placeholder="请输入商户名称"
            maxlength="14"
          />
        </el-form-item>

        <div>
          <el-form-item
                  label="商户图片:"
                  prop="image"
                  class="uploadImg"
          >
            <el-upload
                    class="avatar-uploader"
                    action="/common/upload"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :on-change="onChange"
                    ref="upload"
            >
              <img
                      v-if="imageUrl"
                      :src="imageUrl"
                      style="width: 200px; height: 200px; border:none"              ></img>
              <i
                      v-else
                      class="el-icon-plus avatar-uploader-icon"
              ></i>
            </el-upload>
          </el-form-item>
        </div>

        <el-form-item label="商户简介：">
          <el-input
                  v-model="classData.briefly"
                  placeholder="用一句话介绍一下商户"
                  maxlength="14"
          />
        </el-form-item>

      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button
          size="medium"
          @click="classData.dialogVisible = false"
        >取 消</el-button>
        <el-button
          type="primary"
          size="medium"
          @click="submitForm()"
        >确 定</el-button>
        <el-button
          v-if="action != 'edit'"
          type="primary"
          size="medium"
          class="continue"
          @click="submitForm('go')"
        > 保存并继续添加 </el-button>
      </span>
    </el-dialog>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../plugins/axios/axios.min.js"></script>
    <script src="../../../js/request.js"></script>
    <script src="../../../api/category.js"></script>
    <script>
      new Vue({
        el: '#category-app',
        data() {
          return {
            action: '',
            counts: 0,
            page: 1,
            pageSize: 10,
            tableData: [],
            imageUrl: '',
            classData: {
              'title': '添加商户信息',
              'dialogVisible': false,
              'name': '',
              'image': '',
              'briefly': '',
            }
          }
        },
        computed: {},
        created() {
          this.init()
        },
        mounted() {
        },
        methods: {
          async init () {
            await getBusinessPage({'page': this.page, 'pageSize': this.pageSize}).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records
                this.counts = Number(res.data.total)

              } else {
                this.$message.error(res.msg || '操作失败')
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          addHandle(dat) {
            this.classData.title = '添加商户'
            this.action = 'add'
            this.classData.name = ''
            this.classData.image = ''
            this.classData.briefly = ''
            this.classData.dialogVisible = true

          },
          editHandle(dat) {
            this.classData.title = '修改商户'
            this.action = 'edit'
            this.imageUrl = `/common/download?name=${dat.image}`
            this.classData.name = dat.name
            this.classData.briefly = dat.briefly
            this.classData.id = dat.id
            this.classData.dialogVisible = true
          },
          // 关闭弹窗
          handleClose(st) {
            this.classData.dialogVisible = false
          },
          //删除
          deleteHandle(id) {
            this.$confirm('此操作将永久删除该商户, 是否继续?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              deleBusiness(id).then(res => {
                if (res.code === 1) {
                  this.$message.success('删除成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          //数据提交
          submitForm(st) {
              const classData = this.classData
              const valid = (classData.name === 0 ||classData.name)
              if (this.action === 'add') {
                if (valid) {
                  const reg = /^\d+$/
                  if(!this.imageUrl){
                    this.$message.error('请上传商户图片')
                    return
                  }
                  if (1) {
                    addBusiness({'name': classData.name, 'briefly': classData.briefly, 'image': classData.image}).then(res => {
                      console.log(res)
                      if (res.code === 1) {
                        this.$message.success('商户添加成功！')
                        if (!st) {
                          this.classData.dialogVisible = false
                        } else {
                          this.imageUrl = ''
                          this.classData = {
                            'title': '添加商户信息',
                            'dialogVisible': true,
                            'name': '',
                            'briefly': '',
                            'image': '',
                          }
                        }
                        this.handleQuery()
                      } else {
                        this.$message.error(res.msg || '操作失败')
                      }
                    }).catch(err => {
                      this.$message.error('请求出错了：' + err)
                    })
                  } else {
                  }
                  
              } else {
                  this.$message.error('请输入商户名称')
              }
            } else if (valid) {
              if (1) {
                editBusiness({'id':this.classData.id,'name': this.classData.name, 'briefly': this.classData.briefly, 'image': classData.image}).then(res => {
                  if (res.code === 1) {
                    this.$message.success('商户修改成功！')
                    this.classData.dialogVisible = false
                    this.handleQuery()
                  } else {
                    this.$message.error(res.msg || '操作失败')
                  }
                }).catch(err => {
                  this.$message.error('请求出错了：' + err)
                })
              } else {
              }
            } else {
              this.$message.error('请输入商户名称')
            }
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },
          //获取图片
          getImage (image) {
            return `/common/download?name=${image}`
          },
          handleAvatarSuccess (response, file, fileList) {
            // 拼接down接口预览
            if(response.code === 0 && response.msg === '未登录'){
              window.top.location.href = '/backend/page/login/login.html'
            }else{
              this.imageUrl = `/common/download?name=${response.data}`
              this.classData.image = response.data
            }
          },
          //图片改变
          onChange (file) {
            if(file){
              const suffix = file.name.split('.')[1]
              const size = file.size / 1024 / 1024 < 2
              if(['png','jpeg','jpg'].indexOf(suffix) < 0){
                this.$message.error('上传图片只支持 png、jpeg、jpg 格式！')
                this.$refs.upload.clearFiles()
                return false
              }
              if(!size){
                this.$message.error('上传文件大小不能超过 2MB!')
                return false
              }
              return file
            }
          },
          //状态修改
          statusHandle (row) {
            const id = row.id
            const status = row.status
            this.$confirm('确认调整该商户的状态?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              editBusiness({ 'id': id, 'status': !status ? 1 : 0 }).then(res => {
                console.log('editBusiness',res)
                if (String(res.code) === '1') {
                  this.$message.success('商户状态更改成功！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          getBusinessDetail(row){
            //存入要访问的商户信息
            localStorage.setItem('visitBusinessId',JSON.stringify(row.id))
            localStorage.setItem('visitBusinessName',JSON.stringify(row.name))

            window.open('/backend/index.html','_blank');
          },
        }
      })
    </script>
</body>
</html>